.page404 {
  min-height: 100vh;
  background: linear-gradient(0deg,#38495e,#37ba85);
}

.page404-title {
  color: #dc3545;
  font-weight: bold;
}

.card-tranparent {
  background-color: rgba($color: #ffffff, $alpha: 0.5) !important;
}