<template>
  <div class="page404 d-flex justify-content-center align-items-center">
    <div class="card card-tranparent">
      <div class="card-body text-center px-5 py-4">
        <h1 class="display-3 mr-4 page404-title">404</h1>
        <h4 class="pt-3">Oops! You&apos;re lost.</h4>
        <p class="text-muted float-left">
          The page you are looking for was not found.
        </p>
        <a href="#" @click.prevent="$router.go(-1)">Go Back</a>
      </div>
    </div>
  </div>
</template>

<script src="./NotFoundPage.ts" lang="ts"></script>
<style src="./NotFoundPage.scss" lang="scss" scope></style>
