<main>
  <div class="container my-4">
    <div class="card">
      <div class="card-body">
        <button
          class="btn btn-primary"
          (click)="openCreateModal()"
        >
          <span class="fas fa-plus me-2"></span>Add
        </button>
        <app-todo-table (selected)="openEditModal($event)"></app-todo-table>
      </div>
    </div>
  </div>
</main>

<ng-template #todoModal>
  <app-todo-modal [modalRef]="modalRef"></app-todo-modal>
</ng-template>
