<div class="modal-header">
  <h5 class="modal-title">
    <span class="fas me-2" [ngClass]="[icon]"></span>{{ title }}
  </h5>
  <button
    type="button"
    class="close btn-close pull-right"
    aria-label="Close"
    (click)="modalRef?.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-todo-form
    #todoForm
    [todo]="todo"
    (validated)="save($event)">
  </app-todo-form>
</div>
<div class="modal-footer">
  <button
    *ngIf="isEditMode"
    type="button"
    class="btn btn-danger me-auto"
    [disabled]="(status$ | async) === 'loading'"
    [swal]="deleteSwal"
    (confirm)="remove()"
  >
    <span class="far fa-fw fa-trash-can me-2"></span>Delete
  </button>

  <button
    type="button"
    class="btn btn-primary"
    [disabled]="(status$ | async) === 'loading'"
    (click)="submit()"
  >
    <span class="fas fa-fw fa-save me-2"></span>Save
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="modalRef?.hide()"
  >
    <span class="fas fa-fw fa-ban me-2"></span>Close
  </button>
</div>

<swal #deleteSwal
  title="Delete"
  text="Do you want to delete this item ?"
  icon="warning"
  [swalOptions]="{ confirmButtonColor: '#f86c6b' }"
  [showCancelButton]="true"
  [focusCancel]="true">
</swal>
