<script setup lang="ts">
  import { useCounterStore } from '@/store/counter/counter.store';

  const store = useCounterStore();
  const count = store.counter;

  const incrementClick = () => {
    store.increment();
  };

  const decrementClick = () => {
    store.decrement();
  };
</script>

<template>
  <div>
    <button
      class="btn btn-primary"
      aria-label="Decrement value"
      @click="decrementClick"
    >
      <span class="fas fa-minus-circle"></span>
    </button>
    <div class="counter">{{count}}</div>
    <button
      class="btn btn-primary"
      aria-label="Increment value"
      @click="incrementClick"
    >
      <span class="fas fa-plus-circle"></span>
    </button>
  </div>
</template>

<style scoped lang="scss">
  .counter {
    display: inline-block;
    width: 80px;
    text-align: center;
  }
</style>