<script setup lang="ts">
  const emit = defineEmits(['goBack']);

  const goBackClick = () => {
    emit('goBack');
  };
</script>

<template>
  <div class="panel text-center">
    <h1>Oops, we can&apos;t find that city</h1>
    <button
      type="button"
      class="btn btn-primary mt-5"
      @click="goBackClick"
    >
      <span class="fa-solid fa-rotate-left me-2"></span>Go Back
    </button>
  </div>
</template>

<style scoped lang="scss">
  .panel {
    background-color: rgba($color: #000000, $alpha: 0.25);
    padding: 2rem;
    border-radius: 20px;
  }
</style>