<script setup lang="ts">
  import { Modal } from 'bootstrap';

  const props = defineProps({
    backdrop: {
      type: [String as () => 'static', Boolean],
      default: () => true
    },
    size: {
      type: [String as () => 'sm' | 'lg' | 'xl' | 'fullscreen']
    },
    overflow: {
      type: Boolean,
      default: () => false
    }
  });

  const emit = defineEmits([
    'show',
    'shown',
    'hide',
    'hidden',
  ]);

  const baseModal = ref<HTMLDivElement>();
  const modal = ref<Modal>();

  onMounted(() => {
    const modalElement = baseModal.value as HTMLDivElement;
    modalElement.addEventListener('show.bs.modal', () => emit('show'));
    modalElement.addEventListener('shown.bs.modal', () => emit('shown'));
    modalElement.addEventListener('hide.bs.modal', () => emit('hide'));
    modalElement.addEventListener('hidden.bs.modal', () => emit('hidden'));
    modal.value = new Modal(modalElement, { backdrop: props.backdrop });
  });

  onUnmounted(() => {
    modal.value?.dispose();
  });

  const show = () => {
    modal.value?.show();
  };

  const hide = () => {
    modal.value?.hide();
  };

  defineExpose({
    show,
    hide,
  });
</script>

<template>
  <Teleport to="body">
    <div
      ref="baseModal"
      class="modal fade"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable"
        :class="{
          'modal-sm': size === 'sm',
          'modal-lg': size === 'lg',
          'modal-xl': size === 'xl',
          'modal-fullscreen': size === 'fullscreen'
        }"
      >
        <div class="modal-content" :class="{'modal-content-overflow': overflow}">
          <div class="modal-header">
            <h5 class="modal-title">
              <slot name="title"></slot>
            </h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              @click="hide">
            </button>
          </div>
          <div class="modal-body" :class="{'modal-body-overflow': overflow}">
            <slot></slot>
          </div>
          <div class="modal-footer">
            <slot name="footer"></slot>
          </div>
        </div>
      </div>
    </div>
  </Teleport>
</template>
