<script setup lang="ts">
  import { PropType } from 'vue';
  import { Todo } from '@/store/todo/todo.model';
  import { TodoSchema } from '@/store/todo/todo.validator';
  import Datepicker from '@vuepic/vue-datepicker';
  
  const props = defineProps({
    todo: {
      type: Object as PropType<Todo>
    }
  });

  const formData = reactive<Todo>({
    name: '',
    date: new Date(),
    isDone: false,
  });
  const errors  = reactive({
    name: false,
    date: false,
  });

  watch(() => props.todo, (todo) => {
    formData.id = todo?.id;
    formData.name = todo?.name ?? '';
    formData.date = todo?.date ?? new Date();
    formData.isDone = todo?.isDone ?? false;
  });

  const validate = () => {
    const validator = TodoSchema.validate(formData, { abortEarly: false }).error;
    const name = validator ? validator.details.some((detail) => detail.path[0] === 'name') : false;
    const date = validator ? validator.details.some((detail) => detail.path[0] === 'date') : false;

    errors.name = name;
    errors.date = date;

    return !validator
      ? formData
      : false;
  };

  const clear = () => {
    formData.id = undefined;
    formData.name = '';
    formData.date = new Date();
    formData.isDone = false;
    clearError();
  };

  const clearError = () => {
    errors.name = false;
    errors.date = false;
  };

  defineExpose({
    validate,
    clear,
  });
</script>

<template>
  <div>
    <!-- name -->
    <fieldset class="form-group mb-3">
      <label for="name">Todo:</label>
      <input
        type="text"
        class="form-control"
        :class="errors.name ? 'is-invalid' : ''"
        v-model.trim="formData.name"
        @keypress="clearError"
        aria-label="name"
        autoComplete="off"
      />
      <div
        v-if="errors.name"
        class="invalid-feedback"
        role="alert"
      >
        <strong>Todo is required.</strong>
      </div>
    </fieldset>

    <!-- date -->
    <fieldset class="form-group mb-3">
      <label for="date">Date:</label>
      <Datepicker
        v-model="formData.date"
        :enableTimePicker="false"
        locale="th-TH"
        format="dd/MM/yyyy"
        weekStart="0"
        position="left"
        autoApply
        class="form-control p-0"
        :class="{'is-invalid': errors.date}"
        @change="clearError"
      />
      <div
        class="invalid-feedback"
        role="alert"
        v-if="errors.date"
      >
        <strong>Date is required.</strong>
      </div>
    </fieldset>

    <!-- isDone -->
    <fieldset class="form-group">
      <div class="form-check form-switch">
        <input
          type="checkbox"
          id="isDone"
          class="form-check-input"
          v-model="formData.isDone"
          @change="clearError"
        />
        <label class="form-check-label" for="isDone">Done</label>
      </div>
    </fieldset>
  </div>
</template>