<script setup lang="ts">
  import { PropType } from 'vue';
  import { useTodoStore } from '@/store/todo/todo.store';
  import { Todo } from '@/store/todo/todo.model';
  import Swal, { SweetAlertOptions } from 'sweetalert2';
  import ModalComponent from './ModalComponent.vue';
  import TodoFormComponent from './TodoFormComponent.vue';

  const props = defineProps({
    todo: {
      type: Object as PropType<Todo>
    }
  });

  const todoModal = ref<InstanceType<typeof ModalComponent>>();
  const todoForm = ref<InstanceType<typeof TodoFormComponent>>();
  const store = useTodoStore();
  const status = store.status; 
  const isEditMode = computed(() => !!props.todo);
  const title = computed(() => props.todo ? 'Edit a todo item' : 'New a todo item');
  const icon = computed(() => props.todo ? 'fa-pen' : 'fa-plus');
  const options: SweetAlertOptions = {
    title: 'Delete',
    text: 'Do you want to delete this item ?',
    icon: 'warning',
    confirmButtonColor: '#f86c6b',
    showCancelButton: true,
    focusCancel: true,
  };

  // show modal
  const show = () => {
    todoModal.value?.show();
  };

  // hide modal
  const hide = () => {
    todoModal.value?.hide();
  };

  // submit form
  const submit = async () => {
    const formData = todoForm.value?.validate();

    if (formData) {
      try {
        isEditMode.value
          ? await store.update(formData.id as number, formData.name, formData.date, formData.isDone)
          : await store.create(formData.name, formData.date, formData.isDone);

        hide();
      } catch (ex) {
        console.log(ex);
      }
    }
  };

  // delete
  const remove = async () => {
    const result = await Swal.fire(options);

    if (result.isConfirmed) {
      try {
        const id = props.todo?.id as number;
        await store.remove(id);

        hide();
      } catch (ex) {
        console.log(ex);
      }
    }
  };

  const clearForm = () => {
    todoForm.value?.clear();
  };

  defineExpose({
    show,
    hide,
  });
</script>

<template>
  <ModalComponent
    ref="todoModal"
    backdrop="static"
    @hidden="clearForm"
  >
    <template #title>
      <span class="fas me-2" :class="icon"></span>{{title}}
    </template>
    <template #default>
      <TodoFormComponent
        ref="todoForm"
        :todo="todo"
      />
    </template>
    <template #footer>
      <button
        v-if="isEditMode"
        type="button"
        class="btn btn-danger me-auto"
        :disabled="status === 'loading'"
        @click="remove"
      >
        <span class="far fa-fw fa-trash-can me-2"></span>Delete
      </button>

      <button
        type="button"
        class="btn btn-primary"
        :disabled="status === 'loading'"
        @click="submit"
      >
        <span class="fas fa-fw fa-save me-2"></span>Save
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        :disabled="status === 'loading'"
        @click="hide"
      >
        <span class="fas fa-fw fa-ban me-2"></span>Close
      </button>
    </template>
  </ModalComponent>
</template>