<template>
  <main>
    <div class="container my-4">
      <div class="card">
        <div class="card-body">
          <button
            class="btn btn-primary"
            @click="openCreateModal"
          >
            <span class="fas fa-plus me-2"></span>Add
          </button>
          <TodoTableComponent @selected="openEditModal" />
        </div>
      </div>
    </div>
  </main>

  <!-- Modals -->
  <TodoModalComponent
    ref="todoModal"
    :todo="todo"
  />
</template>

<script src="./TodoPage.ts" lang="ts"></script>
<style src="./TodoPage.scss" lang="scss" scoped></style>
