<script setup lang="ts">
  useHead({
    title: 'Error'
  });
</script>

<template>
  <div class="page404 d-flex justify-content-center align-items-center">
    <div class="card card-tranparent">
      <div class="card-body text-center px-5 py-4">
        <h1 class="display-3 mr-4 page404-title">404</h1>
        <h4 class="pt-3">Oops! You&apos;re lost.</h4>
        <p class="text-muted float-left">
          The page you are looking for was not found.
        </p>
        <NuxtLink to="/">
            Go Back
        </NuxtLink>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .page404 {
    min-height: 100vh;
    background: #001e26;
  }

  .page404-title {
    color: #dc3545;
    font-weight: bold;
  }

  .card-tranparent {
    background-color: rgba($color: #ffffff, $alpha: 0.8) !important;
  }
</style>