<div>
  <button
    class="btn btn-primary"
    aria-label="Decrement value"
    (click)="decrementClick()"
  >
    <span class="fas fa-minus-circle"></span>
  </button>
  <div class="counter">{{ (count$ | async) }}</div>
  <button
    class="btn btn-primary"
    aria-label="Increment value"
    (click)="incrementClick()"
  >
    <span class="fas fa-plus-circle"></span>
  </button>
</div>
