<template>
    <!-- name -->
    <fieldset class="form-group mb-3">
      <label for="name">Todo:</label>
      <input
        type="text"
        class="form-control"
        :class="errors.name ? 'is-invalid' : ''"
        v-model.trim="formData.name"
        @keypress="clearError"
        aria-label="name"
        autoComplete="off"
      />
      <div
        v-if="errors.name"
        class="invalid-feedback"
        role="alert"
      >
        <strong>Todo is required.</strong>
      </div>
    </fieldset>

    <!-- date -->
    <fieldset class="form-group mb-3">
      <label for="date">Date:</label>
      <Datepicker
        v-model="formData.date"
        :enableTimePicker="false"
        locale="th-TH"
        format="dd/MM/yyyy"
        weekStart="0"
        position="left"
        autoApply
        class="form-control p-0"
        :class="{'is-invalid': errors.date}"
        @change="clearError"
      />
      <div
        class="invalid-feedback"
        role="alert"
        v-if="errors.date"
      >
        <strong>Date is required.</strong>
      </div>
    </fieldset>

    <!-- isDone -->
    <fieldset class="form-group">
      <div class="form-check form-switch">
        <input
          type="checkbox"
          id="isDone"
          class="form-check-input"
          v-model="formData.isDone"
          @change="clearError"
        />
        <label class="form-check-label" for="isDone">Done</label>
      </div>
    </fieldset>
</template>

<script src="./TodoFormComponent.ts" lang="ts"></script>
<style src="./TodoFormComponent.scss" lang="scss" scoped></style>
