/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";


// Fonts
@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.css";

// 3rd party plugins
@import "sweetalert2/dist/sweetalert2.css";
@import "react-toastify/dist/ReactToastify.css";
@import "datatables.net-bs5/css/dataTables.bootstrap5.css";
@import "react-datepicker/dist/react-datepicker.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.9357rem;
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.428571429;
  color: #333;
}
