<div class="table-responsive mt-3">
  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="table table-hover"
  >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Todo</th>
        <th scope="col">Date</th>
        <th scope="col">Done</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let todo of todos; let i = index">
        <tr class="hover" (click)="selectedItem(todo)">
          <td>{{ i + 1 }}.</td>
          <td class="text-primary">
            <span class="far fa-note-sticky me-2"></span>{{ todo.name }}
          </td>
          <td>{{ todo.date | date:'d MMMM yyyy':'+0700':'th-TH' }}</td>
          <td [ngClass]="{'text-success': todo.isDone, 'text-danger': !todo.isDone}">
            <span class="far" [ngClass]="{'fa-circle-check': todo.isDone, 'fa-circle-xmark': !todo.isDone}"></span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
