<template>
  <main class="main">
    <div
      class="city d-flex justify-content-center align-items-center"
      :style="{'background-image': background}"
    >
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
              <WeatherComponent
                v-if="status !== 'failed'"
                :city="city"
                @search="setSearch"
              />
              <GoBackComponent
                v-else
                @go-back="goBack"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script src="./CityPage.ts" lang="ts"></script>
<style src="./CityPage.scss" lang="scss" scoped></style>
