<form [formGroup]="todoForm">
  <fieldset class="form-group mb-3">
    <label for="name">Todo:</label>
    <input
      type="text"
      id="name"
      class="form-control"
      [ngClass]="{'is-invalid': submitted && name?.invalid}"
      formControlName="name"
      autocomplete="off"
      required
    />
    <ng-container *ngIf="submitted && name?.invalid">
      <span
        *ngIf="name?.errors?.['required']"
        class="invalid-feedback"
        role="alert"
      >
        <strong>Todo is required.</strong>
      </span>
    </ng-container>
  </fieldset>

  <fieldset class="form-group mb-3">
    <label for="date">Date:</label>
    <div class="input-group">
      <button
        type="button"
        class="input-group-text"
        (click)="dp.toggle()"
        [attr.aria-expanded]="dp.isOpen"
      >
        <span class="far fa-calendar"></span>
      </button>
      <input
        type="text"
        id="date"
        class="form-control"
        [ngClass]="{'is-invalid': submitted && date?.invalid}"
        formControlName="date"
        placeholder="Datepicker"
        autocomplete="off"
        bsDatepicker
        [bsConfig]="config"
        #dp="bsDatepicker"
      />
      <ng-container *ngIf="submitted && date?.invalid">
        <span
          *ngIf="date?.errors?.['required']"
          class="invalid-feedback"
          role="alert"
        >
          <strong>Date is required.</strong>
        </span>
      </ng-container>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <div class="form-check form-switch">
      <input
        type="checkbox"
        id="isDone"
        class="form-check-input"
        formControlName="isDone"
      />
      <label class="form-check-label" for="isDone">Done</label>
    </div>
  </fieldset>
</form>
