<template>
  <div class="main">
    <main>
      <div class="vue d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h4>
            <span class="fab fa-vuejs h4 me-2"></span>
            <span ref="greeting" class="h4"></span>
          </h4>
          <div class="vue-logo my-5"></div>
          <CounterComponent />
        </div>
      </div>
    </main>

    <footer class="footer fixed-bottom py-3 bg-dark">
      <div className="container d-flex flex-row-reverse">
        <div className="text-light">Counter: {{count}}</div>
      </div>
    </footer>
  </div>
</template>

<script src="./HomePage.ts" lang="ts"></script>
<style src="./HomePage.scss" lang="scss" scoped></style>
