<template>
  <div
    v-if="status !== 'loading'"
    class="table-responsive mt-3"
  >
    <table ref="datatable" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Todo</th>
          <th scope="col">Date</th>
          <th scope="col">Done</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(todo, index) in todos"
          :key="todo.id"
          class="hover"
          @click="selectedItem(todo)"
        >
          <td>{{index + 1}}.</td>
          <td class="text-primary">
            <span class="far fa-note-sticky me-2"></span>{{todo.name}}
          </td>
          <td>{{thaiDate(todo.date)}}</td>
          <td :class="todo.isDone ? 'text-success' : 'text-danger'">
            <span
              class="far"
              :class="todo.isDone ? 'fa-circle-check' : 'fa-circle-xmark'">
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script src="./TodoTableComponent.ts" lang="ts"></script>
<style src="./TodoTableComponent.scss" lang="scss" scoped></style>
