.main {
  color: white;
}

.city {
  position: relative;
  height: calc(100vh - 54px);
  width: 100vw;
  background: lightgray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
