<template>
  <div class="layout">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <RouterLink class="navbar-brand" to="/">
            <img
              src="@/assets/images/logo.svg"
              width="30"
              height="23"
              class="d-inline-block me-2"
              alt="logo"
            />Vue.js
          </RouterLink>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <RouterLink class="nav-link" to="/" exact>Home</RouterLink>
              </li>
              <li class="nav-item">
                <RouterLink class="nav-link" to="/city">City</RouterLink>
              </li>
              <li class="nav-item">
                <RouterLink class="nav-link" to="/todo">Todo</RouterLink>
              </li>
              <li class="nav-item">
                <RouterLink class="nav-link" to="/about">About</RouterLink>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <RouterView />
  </div>
</template>

<script src="./LayoutComponent.ts" lang="ts"></script>
<style src="./LayoutComponent.scss" lang="scss" scoped></style>
