<div>
  <main class="main">
    <!--Waves Container-->
    <div class="background">
      <app-wave></app-wave>
    </div>

    <div class="angular d-flex justify-content-center align-items-center">
      <div>
        <h4>
          <span class="fab fa-angular h4 me-2"></span>
          <span #greeting class="h4"></span>
        </h4>
        <div class="w-100 d-flex justify-content-center"><div class="angular-logo my-5"></div></div>
        <app-counter></app-counter>
      </div>
    </div>
  </main>

  <footer class="footer fixed-bottom py-3 bg-dark">
    <div class="container d-flex flex-row-reverse">
      <div class="text-light">Counter: {{ (count$ | async) }}</div>
    </div>
  </footer>
</div>
