.main {
  color: white;
}

.angular {
  height: calc(100vh - 51px);
  text-align: center;
  background: linear-gradient(60deg, rgba($color: #e23237, $alpha: 1) 0%, rgba($color: #f1948a, $alpha: 1) 100%);
}

.angular-logo {
  width: 24vmin;
  height: 25.6vmin;
  pointer-events: none;
  background-image: url("/assets/images/logo.svg");
  background-size: cover;
}

.background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  background: linear-gradient(60deg, rgba($color: #e23237, $alpha: 1) 0%, rgba($color: #f1948a, $alpha: 1) 100%);
}
