<template>
  <div class="layout">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <NuxtLink class="navbar-brand" to="/">
            <img
              src="@/assets/images/logo.svg"
              width="30"
              height="22"
              class="logo d-inline-block me-2"
              alt="logo"
            />Nuxt
          </NuxtLink>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <NuxtLink
                  class="nav-link"
                  to="/"
                  activeClass="active"
                  exact
                >
                  Home
                </NuxtLink>
              </li>
              <li class="nav-item">
                <NuxtLink
                  class="nav-link"
                  to="/city"
                  activeClass="active"
                >
                  City
                </NuxtLink>
              </li>
              <li class="nav-item">
                <NuxtLink
                  class="nav-link"
                  to="/todo"
                  activeClass="active"
                >
                  Todo
                </NuxtLink>
              </li>
              <li class="nav-item">
                <NuxtLink
                  class="nav-link"
                  to="/about"
                  activeClass="active"
                >
                  About
                </NuxtLink>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <slot></slot>
  </div>
</template>

<style scoped lang="scss">
  .layout {
    width: 100vw;
    min-height: 100vh;
  }

  .logo {
    margin-top: -6px;
  }
</style>