<template>
  <ModalComponent
    ref="todoModal"
    backdrop="static"
    @hidden="clearForm"
  >
    <template #title>
      <span class="fas me-2" :class="icon"></span>{{title}}
    </template>
    <template #default>
      <TodoFormComponent
        ref="todoForm"
        :todo="todo"
      />
    </template>
    <template #footer>
      <button
        v-if="isEditMode"
        type="button"
        class="btn btn-danger me-auto"
        :disabled="status === 'loading'"
        @click="remove"
      >
        <span class="far fa-fw fa-trash-can me-2"></span>Delete
      </button>

      <button
          type="button"
          class="btn btn-primary"
          :disabled="status === 'loading'"
          @click="submit"
        >
          <span class="fas fa-fw fa-save me-2"></span>Save
        </button>
      <button
        type="button"
        class="btn btn-secondary"
        :disabled="status === 'loading'"
        @click="hide"
      >
        <span class="fas fa-fw fa-ban me-2"></span>Close
      </button>
    </template>
  </ModalComponent>
</template>

<script src="./TodoModalComponent.ts" lang="ts"></script>
<style src="./TodoModalComponent.scss" lang="scss" scoped></style>
