<main class="main">
  <div
    class="city d-flex justify-content-center align-items-center"
    [style.background-image]="background"
  >
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
          <div class="d-table-cell align-middle">
            <app-weather
              *ngIf="(status$ | async) !== 'failed'; else goBackBlock"
              [city]="city"
              (search)="setSearch($event)">
            </app-weather>
            <ng-template #goBackBlock>
              <app-go-back (goBack)="goBack()"></app-go-back>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

