<div class="layout">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">
          <img
            src="/assets/images/logo.svg"
            width="30"
            height="23"
            class="d-inline-block me-2"
            alt="logo"
          />Angular
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
              >
                Home
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/city"
                routerLinkActive="active"
              >
                City
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/todo"
                routerLinkActive="active"
              >
                Todo
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/about"
                routerLinkActive="active"
              >
                About
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>
</div>
